<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55b66b04-8299-4b03-a6e5-0335e322b524" Alias="UF Block List - Default" Level="1">
  <Info>
    <Name>UF Block List - Default</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "790e29a7-d62e-465a-840e-613126c39ba1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "9c2af63d-bdfb-4b13-8a35-796bec74bb9c",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4418ef99-2f6b-4d60-b88e-a1d0a59dc791",
      "settingsElementTypeKey": "b0a6d3d0-eac1-4139-b6f2-8a49710ef935",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a2bde417-132a-473b-8478-810783fc5d87",
      "settingsElementTypeKey": "b0a6d3d0-eac1-4139-b6f2-8a49710ef935",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "433c8d91-d891-47fd-9096-10f755c31b24",
      "settingsElementTypeKey": "b0a6d3d0-eac1-4139-b6f2-8a49710ef935",
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>