<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12c6036f-c314-46de-8ffd-cad3fcf34f7c" Alias="UF Dropdown - Heading Levels" Level="1">
  <Info>
    <Name>UF Dropdown - Heading Levels</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "h1"
    },
    {
      "id": 2,
      "value": "h2"
    },
    {
      "id": 3,
      "value": "h3"
    },
    {
      "id": 4,
      "value": "h4"
    },
    {
      "id": 5,
      "value": "h5"
    },
    {
      "id": 6,
      "value": "h6"
    }
  ]
}]]></Config>
</DataType>