<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae6a3b85-df4f-431b-88e8-26c1202b288f" Alias="UF Dropdown - Borders" Level="1">
  <Info>
    <Name>UF Dropdown - Borders</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "None"
    },
    {
      "id": 2,
      "value": "Thin"
    },
    {
      "id": 3,
      "value": "Normal"
    },
    {
      "id": 4,
      "value": "Thick"
    }
  ]
}]]></Config>
</DataType>