<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd7d3d11-eb39-4ee3-bead-419c5557fae6" Alias="UF Dropdown - Link Field" Level="1">
  <Info>
    <Name>UF Dropdown - Link Field</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "Title"
    },
    {
      "id": 3,
      "value": "Date"
    }
  ]
}]]></Config>
</DataType>