<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7be222b3-7546-46f2-a16e-17ac795b5a97" Alias="UF Dropdown - Theme Colours" Level="1">
  <Info>
    <Name>UF Dropdown - Theme Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "Primary"
    },
    {
      "id": 3,
      "value": "Secondary"
    }
  ]
}]]></Config>
</DataType>