<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ff2b70a6-aad2-478d-8203-fff2afcd5e2d" Alias="UF Dropdown - Page Formats" Level="1">
  <Info>
    <Name>UF Dropdown - Page Formats</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Single Column"
    },
    {
      "id": 2,
      "value": "Large Left Column"
    },
    {
      "id": 3,
      "value": "Large Right Column"
    }
  ]
}]]></Config>
</DataType>