<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6c50ea50-4db9-4db4-bf63-76b0429b5a6a" Alias="UF Dropdown - Spacing" Level="1">
  <Info>
    <Name>UF Dropdown - Spacing</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "None"
    },
    {
      "id": 3,
      "value": "XSmall"
    },
    {
      "id": 4,
      "value": "Small"
    },
    {
      "id": 5,
      "value": "Medium"
    },
    {
      "id": 6,
      "value": "Large"
    }
  ]
}]]></Config>
</DataType>