<?xml version="1.0" encoding="utf-8"?>
<DataType Key="819bcd45-d9fb-4b03-884a-214630ca8b17" Alias="UF Nested Content - Inner Content" Level="1">
  <Info>
    <Name>UF Nested Content - Inner Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ufCardsFull",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ufCardsSimpleText",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ufCardsSimpleImage",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>