<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b35a3e2-739d-4c91-8727-21b1f36230a5" Alias="UF Nested Content - Cards" Level="1">
  <Info>
    <Name>UF Nested Content - Cards</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ufCardsSimpleImage",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    },
    {
      "ncAlias": "ufCardsSimpleText",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>