<?xml version="1.0" encoding="utf-8"?>
<DataType Key="543f843d-d637-4ad9-8297-39b16f6ae60c" Alias="UF Slider - 2 to 4" Level="1">
  <Info>
    <Name>UF Slider - 2 to 4</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 2.0,
  "InitialValue2": 0.0,
  "MinimumValue": 2.0,
  "MaximumValue": 4.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>