@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>UmbracoFolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/uikit.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body class="umbracofolio">
    <h1>Hello, World!</h1>
    
    @RenderBody()

    <script src="js/uikit.js"></script>
    <script src="js/uikit-icons.js"></script>
</body>

</html>