@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;

    var settings = UFSettings.GetSiteSettings(Model);
    var cachePeriod = 1; // 60 * 60; // 1 hour
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>UmbracoFolio</title>
    <meta name="description" content="">

    @Html.CachedPartial("~/Views/Partials/UF/_Meta.cshtml", Model, cachePeriod, cacheByPage: true)

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link href="~/assets/scss/umbracofolio.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body class="umbracofolio">
    @Html.CachedPartial("~/Views/Partials/UF/_Header.cshtml", settings, cachePeriod, cacheByPage: true)

    @RenderBody()


    @Html.CachedPartial("~/Views/Partials/UF/_Footer.cshtml", settings, cachePeriod, cacheByPage: true)

    <script src="~/assets/js/vendor/uikit.js"></script>
    <script src="~/assets/js/vendor/uikit-icons.js"></script>
</body>

</html>