<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86d2d860-3feb-402f-bc8a-2193f43f4739" Alias="ufArticleIntro" Level="3">
  <Info>
    <Name>UF.ArticleIntro</Name>
    <Icon>icon-console color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>