<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2ab21f6-2d77-4513-b20b-bb94bf5a7f4a" Alias="ufArticleListing" Level="3">
  <Info>
    <Name>UF.ArticleListing</Name>
    <Icon>icon-ordered-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions>
      <Composition Key="9c140144-93f4-4ec8-8094-ec33007769a7">ufColumns</Composition>
      <Composition Key="f827eb07-2feb-44a0-b648-cfee6c284496">uFListingSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>