<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6426d95-7166-4661-9962-b6efad83b171" Alias="ufAssociatedPage" Level="3">
  <Info>
    <Name>UF.AssociatedPage</Name>
    <Icon>icon-conversation color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cf1acb78-964c-4ee8-987d-34c1930f4229</Key>
      <Name>Associated Page</Name>
      <Alias>associatedPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Associated Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Associated Page</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>