<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="336b09b3-8ef8-4691-93e0-ef97889bca05" Alias="ufAsideContent" Level="3">
  <Info>
    <Name>UF.AsideContent</Name>
    <Icon>icon-height color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6f599c7a-072b-4690-be42-310b87ee6768</Key>
      <Name>Aside Content</Name>
      <Alias>asideContent</Alias>
      <Definition>3df9e455-35f3-42b6-8e62-882beef2bc5e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>