<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe6c4aef-d508-4e6e-9c27-40b1fed37c1b" Alias="ufCardsNavigation" Level="4">
  <Info>
    <Name>UF.Cards.Navigation</Name>
    <Icon>icon-anchor color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Cards</Folder>
    <Compositions />
    <DefaultTemplate>UFCardsNavigation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b5006b4c-3d01-45f9-ada4-5eb09553e61e">UFCardsNavigation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e68185a9-6ebc-45c5-a0d8-dc3f9782c493</Key>
      <Name>Navigation Type</Name>
      <Alias>navigationType</Alias>
      <Definition>8fa29ac8-96f2-4fa8-af6c-69b9f29bea66</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>