<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="10c2021b-b8a0-4ff2-8a2f-dec1df742f62" Alias="ufCardsSimpleText" Level="4">
  <Info>
    <Name>UF.Cards.SimpleText</Name>
    <Icon>icon-post-it color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Cards</Folder>
    <Compositions>
      <Composition Key="504da37c-d046-4611-9752-7e419cdbf7d6">ufRichText</Composition>
    </Compositions>
    <DefaultTemplate>UFCardsSimpleText</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d8da7de9-0cf1-4c44-88ed-0875b0ef6bbb">UFCardsSimpleText</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>