<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5ff5035a-eec8-40d8-ad1a-f7ab12d10490" Alias="ufCardsFull" Level="4">
  <Info>
    <Name>UF.Cards.Full</Name>
    <Icon>icon-layout color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Cards</Folder>
    <Compositions>
      <Composition Key="e806f2c9-7785-4a5c-93dc-6881e104b5c3">ufImage</Composition>
      <Composition Key="a33daf0f-731a-4c29-98d1-a2330c6a2c4f">ufLink</Composition>
      <Composition Key="504da37c-d046-4611-9752-7e419cdbf7d6">ufRichText</Composition>
      <Composition Key="0838d486-6244-45d3-8761-ae5ce6318cbe">ufTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>