<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="721a182b-6e0e-4fb9-8e8a-29b68afe0363" Alias="ufCardsSimpleImage" Level="4">
  <Info>
    <Name>UF.Cards.SimpleImage</Name>
    <Icon>icon-picture color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Cards</Folder>
    <Compositions>
      <Composition Key="e806f2c9-7785-4a5c-93dc-6881e104b5c3">ufImage</Composition>
    </Compositions>
    <DefaultTemplate>UFCardsSimpleImage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7e59bda7-8127-4e5c-917d-8399c37531ff">UFCardsSimpleImage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>