<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c46c5d8b-b870-44b7-b134-c99e8600b7b7" Alias="ufContentRichText" Level="4">
  <Info>
    <Name>UF.Content.RichText</Name>
    <Icon>icon-font color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Content</Folder>
    <Compositions>
      <Composition Key="504da37c-d046-4611-9752-7e419cdbf7d6">ufRichText</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>