<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a7b04547-8f80-4e61-b4fc-88f743e81add" Alias="ufContentPicture" Level="4">
  <Info>
    <Name>UF.Content.Picture</Name>
    <Icon>icon-art-easel color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Content</Folder>
    <Compositions>
      <Composition Key="e806f2c9-7785-4a5c-93dc-6881e104b5c3">ufImage</Composition>
      <Composition Key="429a540f-3981-44ae-9939-539e50384f8d">ufImageBorder</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>