<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cdd15db8-edaa-434f-9e35-404a84393483" Alias="ufContentHeading" Level="4">
  <Info>
    <Name>UF.Content.Heading</Name>
    <Icon>icon-os-x color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks/Content</Folder>
    <Compositions>
      <Composition Key="db9d5e5e-487a-4801-9800-4ef106e719e9">ufHeadingLevel</Composition>
      <Composition Key="0838d486-6244-45d3-8761-ae5ce6318cbe">ufTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>