<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec01411e-fcee-44c2-a18b-b20a37e4331a" Alias="ufConfigurationFolder" Level="3">
  <Info>
    <Name>UF.ConfigurationFolder</Name>
    <Icon>icon-settings-alt color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>UmbracoFolio/Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d46a94fa-9f58-408f-865c-b578d6f638ce" SortOrder="0">ufSiteConfiguration</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>