<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae1bc85b-a187-436d-8517-54e9f4942aae" Alias="ufFancyNextPrevious" Level="3">
  <Info>
    <Name>UF.FancyNextPrevious</Name>
    <Icon>icon-navigation-horizontal color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions>
      <Composition Key="a33daf0f-731a-4c29-98d1-a2330c6a2c4f">ufLink</Composition>
      <Composition Key="e5f3df4f-37f6-4406-912f-7dc8b24c1282">ufNextPrevious</Composition>
      <Composition Key="8168adfe-c881-49b4-9406-36a98fa42815">ufSummary</Composition>
      <Composition Key="0838d486-6244-45d3-8761-ae5ce6318cbe">ufTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>