<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2bde417-132a-473b-8478-810783fc5d87" Alias="ufGallery" Level="3">
  <Info>
    <Name>UF.Gallery</Name>
    <Icon>icon-pictures-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions>
      <Composition Key="3bbd38c1-bb6d-41f5-ad07-ead7d49d6276">ufGalleryDisplaySettings</Composition>
      <Composition Key="429a540f-3981-44ae-9939-539e50384f8d">ufImageBorder</Composition>
      <Composition Key="49c468ba-914a-49a6-8f57-3b1e936011bc">ufImages</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>