<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3bbd38c1-bb6d-41f5-ad07-ead7d49d6276" Alias="ufGalleryDisplaySettings" Level="3">
  <Info>
    <Name>UF.GalleryDisplaySettings</Name>
    <Icon>icon-umb-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>95f69e53-bf86-44a2-8593-0c976f881045</Key>
      <Name>Amount of Columns</Name>
      <Alias>amountOfColumns</Alias>
      <Definition>543f843d-d637-4ad9-8297-39b16f6ae60c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Gallery</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>49fa9fa1-6932-428f-8033-9d5d28ddc0f5</Key>
      <Name>Amount of Columns on Tablet</Name>
      <Alias>amountOfColumnsOnTablet</Alias>
      <Definition>543f843d-d637-4ad9-8297-39b16f6ae60c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Gallery</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>185b7e39-679f-4132-9efe-c9fb63e990f5</Key>
      <Name>Is Masonry</Name>
      <Alias>isMasonry</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Gallery</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e0846bae-d36b-43fe-bc5b-2b1b5b464b2c</Key>
      <Name>Open Images In Lightbox</Name>
      <Alias>openImagesInLightbox</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Gallery</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Gallery</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>