<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="433c8d91-d891-47fd-9096-10f755c31b24" Alias="ufGrid" Level="3">
  <Info>
    <Name>UF.Grid</Name>
    <Icon>icon-grid color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions>
      <Composition Key="9c140144-93f4-4ec8-8094-ec33007769a7">ufColumns</Composition>
      <Composition Key="c6a49a9f-17e1-4a43-a479-980427c6656f">ufInnerContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>