<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db9d5e5e-487a-4801-9800-4ef106e719e9" Alias="ufHeadingLevel" Level="3">
  <Info>
    <Name>UF.HeadingLevel</Name>
    <Icon>icon-caps-lock color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>91111584-8cb6-4950-b6a2-c004baa05582</Key>
      <Name>Heading Level</Name>
      <Alias>headingLevel</Alias>
      <Definition>12c6036f-c314-46de-8ffd-cad3fcf34f7c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>