<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c2af63d-bdfb-4b13-8a35-796bec74bb9c" Alias="ufHeroFeatureImage" Level="3">
  <Info>
    <Name>UF.HeroFeatureImage</Name>
    <Icon>icon-panel-close color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Blocks</Folder>
    <Compositions>
      <Composition Key="e806f2c9-7785-4a5c-93dc-6881e104b5c3">ufImage</Composition>
      <Composition Key="504da37c-d046-4611-9752-7e419cdbf7d6">ufRichText</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>