<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23b1906f-bb11-4230-b437-3b9a3d8aa9f5" Alias="ufHome" Level="2">
  <Info>
    <Name>UF.Home</Name>
    <Icon>icon-home color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>UmbracoFolio</Folder>
    <Compositions>
      <Composition Key="df850b7f-b5c8-4ddd-b881-05f98b9057f2">uFBase</Composition>
      <Composition Key="40b8c4cf-ff97-4795-98c4-fe85cd7a874f">ufContent</Composition>
      <Composition Key="e806f2c9-7785-4a5c-93dc-6881e104b5c3">ufImage</Composition>
      <Composition Key="8168adfe-c881-49b4-9406-36a98fa42815">ufSummary</Composition>
      <Composition Key="0838d486-6244-45d3-8761-ae5ce6318cbe">ufTitle</Composition>
    </Compositions>
    <DefaultTemplate>UFHome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f3bc874-017e-4722-974c-b9d1aed5b36d">UFHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ec01411e-fcee-44c2-a18b-b20a37e4331a" SortOrder="0">ufConfigurationFolder</ContentType>
    <ContentType Key="92a6ac16-b369-4295-a15e-69b8ef577189" SortOrder="1">ufPage</ContentType>
    <ContentType Key="9780f096-c3c6-429e-acfa-b29e1eddf239" SortOrder="2">ufArticle</ContentType>
    <ContentType Key="8db7a465-42a8-47f4-8dd4-a5ab32cffc31" SortOrder="3">ufHub</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>