<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23b1906f-bb11-4230-b437-3b9a3d8aa9f5" Alias="ufHome" Level="2">
  <Info>
    <Name>UF.Home</Name>
    <Icon>icon-home color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>UmbracoFolio</Folder>
    <Compositions>
      <Composition Key="40b8c4cf-ff97-4795-98c4-fe85cd7a874f">ufContent</Composition>
    </Compositions>
    <DefaultTemplate>UFHome</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f3bc874-017e-4722-974c-b9d1aed5b36d">UFHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ec01411e-fcee-44c2-a18b-b20a37e4331a" SortOrder="0">ufConfigurationFolder</ContentType>
    <ContentType Key="92a6ac16-b369-4295-a15e-69b8ef577189" SortOrder="1">ufPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>