<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="429a540f-3981-44ae-9939-539e50384f8d" Alias="ufImageBorder" Level="3">
  <Info>
    <Name>UF.ImageBorder</Name>
    <Icon>icon-checkbox-empty color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6cb5c814-8a6e-4bad-a586-c8c370df0e58</Key>
      <Name>Image Border Size</Name>
      <Alias>imageBorderSize</Alias>
      <Definition>ae6a3b85-df4f-431b-88e8-26c1202b288f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>100</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>