<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a33daf0f-731a-4c29-98d1-a2330c6a2c4f" Alias="ufLink" Level="3">
  <Info>
    <Name>UF.Link</Name>
    <Icon>icon-arrow-right color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>902d6baa-c05f-4f11-87ee-d3d9106f8840</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>fafd9db5-d5b7-4bb0-b1f9-797f517d6ded</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>