<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70aebf21-82d3-4ae9-b7cd-99b6c76d52de" Alias="ufMasonry" Level="3">
  <Info>
    <Name>UF.Masonry</Name>
    <Icon>icon-firewall color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6646fe98-acc4-42c7-8852-ea860f982149</Key>
      <Name>Is Masonry</Name>
      <Alias>isMasonry</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Grid</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>