<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5f3df4f-37f6-4406-912f-7dc8b24c1282" Alias="ufNextPrevious" Level="3">
  <Info>
    <Name>UF.NextPrevious</Name>
    <Icon>icon-navigation-horizontal color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6e60b830-ffee-45f4-bdaa-2caf96efd231</Key>
      <Name>Next Link Text</Name>
      <Alias>nextLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Next &amp; Previous</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>93b391a5-c791-448c-9e4e-d315a6282c8c</Key>
      <Name>Next Page Override</Name>
      <Alias>nextPageOverride</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Next &amp; Previous</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>bf73a63d-de13-4f1f-8832-047a0e083820</Key>
      <Name>Previous Link Text</Name>
      <Alias>previousLinkText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Next &amp; Previous</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>a0a68167-94c3-4962-9cfa-745b766c644f</Key>
      <Name>Previous Page Override</Name>
      <Alias>previousPageOverride</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Next &amp; Previous</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>cd197e46-a877-46f9-a627-d4235163d3d7</Key>
      <Name>Text Only Link Field</Name>
      <Alias>textOnlyLinkField</Alias>
      <Definition>cd7d3d11-eb39-4ee3-bead-419c5557fae6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Next &amp; Previous</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Next &amp; Previous</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>