<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0a6d3d0-eac1-4139-b6f2-8a49710ef935" Alias="ufRowSettings" Level="3">
  <Info>
    <Name>UF.RowSettings</Name>
    <Icon>icon-equalizer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>UmbracoFolio/Abstracts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b786630a-ef99-4614-8efc-e692c7c8ddc4</Key>
      <Name>Row Colour Theme</Name>
      <Alias>rowColourTheme</Alias>
      <Definition>7be222b3-7546-46f2-a16e-17ac795b5a97</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>8354b4cf-1f90-484e-a871-822705ed876d</Key>
      <Name>Spacing</Name>
      <Alias>spacing</Alias>
      <Definition>6c50ea50-4db9-4db4-bf63-76b0429b5a6a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Row</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>