// Backgrounds

.uf-background-dark-translucent {
    background: rgba(0,0,0, 0.85);
}

.uf-background-light-translucent {
    background: rgba(255,255,255, 0.85);
}

// Blurs

.uf-blurred-background-image {
    position: relative;
}

.uf-blurred-background-image::after {
    -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(5px); /* Supported in Chrome 76 */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.uf-non-blurred {
    position: relative;
    z-index: 1;
}

// Shadows

.uf-shadowed {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.uf-inset-shadow {
    box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
}

.uf-text-shadow{
    text-shadow: 0 0 10px black;
}

// Borders

.uf-bordered-none {
    border: none;
}

.uf-bordered-thick {
    border: 10px solid white;
}

.uf-bordered, .uf-bordered-normal {
    border: 5px solid white;
}

.uf-bordered-thin {
    border: 2px solid white;
}

// Spacing

.uf-compact-text{
    h1,h2,h3,h4,h5,h6,p{
        margin:0;
        padding:0;
    }
}

// Visibility

@media(max-width: 640px) {
    .uk-visibility-m {
        visibility: hidden;
    }
}